body{
  background-color: #02010a;
  font-family: Dancing Script;
}

.contenido {
  margin: 0 auto;
}

header {
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  height: 100px;
  padding-top: 10px;
}

header h1 {
  color: #ffffff;
  text-shadow:0 0 2px #02010a;
}

ul {
  list-style-type: none;
  font-size: 18px;
}

li a {
  color: white;
  text-align: center;
}

#principal {
  background-color: #82c3a6;
  padding: 20px;
}

#principal img {
  display: block;
  margin: 0 auto;
}

#secundaria {
  background-color: #d5c75f;
  border: 1px;
  padding: 20px;
}

#secundaria img {
  display: block;
  margin: 0 auto;
}

#secundaria a {
  color: #000;
  text-align: center;
}

section img {
  box-shadow: 2px 2px #02010a;
}

#paisaje:hover {
  transform: rotate(10deg);
  -moz-transform : rotate(10deg);
  -webkit-transform : rotate(10deg);
   -o-transform : rotate(10deg);
   box-shadow: 2px 2px #82c3a6;
}

#retratos:hover {
  transform: translate(20px, -5px);
  -moz-transform : translate(20px, -5px);
  -webkit-transform : translate(20px, -5px);
   -o-transform : translate(20px, -5px);
   box-shadow: 2px 2px #82c3a6;
}

footer {
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
}

/*Estilos para version desktop*/
@media (min-width: 900px) {
  .contenido {
    width: 900px;
  }

  header h1 {
    float: left;
    display: inline;
    margin-left: 15px;
  }

  ul {
    margin: 0 10px 0 0;
    padding-top: 20px;
    float: right;
    overflow: hidden;
    height: 100%;
  }

  li {
    display: inline;
    float: left;
  }

  li a {
      display: block;
      margin: 0px 5px;
      padding: 10px;
      text-align: center;
  }

  li a.active {
    text-decoration:none;
  }

  #secundaria {
    display: -webkit-flex;
    display: flex;
  }

  #secundaria div {
    width: 50%;
  }

  .contenido-footer  {
    display: -webkit-flex;
    display: flex;
  }

  .row-footer {
      width: 25%;
      margin: 10px;
      padding: 10px;
    }

}

/*Estilo para version movil*/
@media (max-width: 900px) {

  .contenido{
    width: 100%;
  }

  header h1{
    text-align: center;
    margin:auto;
  }

  ul {
    margin: 0;
    padding: 5px;
    text-align: center;
  }

  li {
    display: inline;
  }

  li a {
      margin: 0px 5px;
      padding: 7px;
      text-align: center;
  }

  .responsive-image {
      width: 100%;
    }

}
